/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f6f8fb;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.nav-left img {
  height: 70px;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-right a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #0b3c5d, #0e517a);
  color: white;
  padding: 90px 40px;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero-btn {
  padding: 14px 34px;
  border-radius: 30px;
  font-weight: 600;
  text-decoration: none;
}

.primary-btn {
  background: white;
  color: #0b3c5d;
}

.secondary-btn {
  border: 2px solid white;
  color: white;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.grey {
  background: #ffffff;
}

/* FOOTER */
footer {
  background: #0b3c5d;
  color: white;
  text-align: center;
  padding: 20px;
}

/* WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 55px;
  height: 55px;
}
