/* FORCE LOGO SIZE FIX */
.logo {
  max-width: 120px !important;
  height: auto !important;
  display: block;
  margin: 0 auto 20px;
}
body {
  background: red !important;
}
/* ===============================
   RESET & GLOBAL
================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f6f8fb;
  color: #333;
  line-height: 1.7;
}

/* GLOBAL IMAGE FIX */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ===============================
   NAVBAR
================================ */
.navbar {


